body {
  background-color: #001f3f;
  color: #ead8b1;
  font-family: Lato, sans-serif;
  /* text-align: center; */
}
a {
  color: #ead8b1;
  padding: 20px;
}
a:visited {
  color: #ead8b1;
}
.bigbtn {
  margin: 10px;
  padding: 30px;
  font-size: 2rem;
  font-weight: bold;
  background-color: #3a6d8c;
  color: #ead8b1;
  width: 300px;
  border-radius: 10px;
  border: none;
}
h1 {
  text-align: center;
}
div {
  text-align: center;
}
input[type="text"] {
  text-transform: uppercase;
}
