body {
  background-color: #2d2a2e;
  color: whitesmoke;
  font-family: Lato, sans-serif;
  /* text-align: center; */
}
a {
  color: whitesmoke;
  padding: 20px;
}
a:visited {
  color: whitesmoke;
}
button {
  margin: 10px;
  padding: 30px;
  font-size: 2rem;
  font-weight: bold;
  background-color: rgb(46, 51, 51);
  color: whitesmoke;
  width: 300px;
}
