:root {
  --dark: #001f3f;
  --mid: #3a6d8c;
  --light: #6a9ab0;
  --font: "Lato", sans-serif;
}

body {
  background-color: var(--light);
  color: var(--dark);
  font-family: var(--font);
}

.bigbtn {
  font-family: var(--font);
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--dark);
  color: var(--light);
  width: 80%;
  margin: 10px;
  padding: 40px;
  border-radius: 10px;
  border: none;
}

/* 
input[type="submit"] {
  font-family: var(--font);
  font-size: 1.5rem;
  font-weight: bold;
  background-color: var(--mid-blue);
  color: var(--beige);
  margin: 10px;
  padding: 60px;
  border-radius: 10px;
  border: none;
}

h1,
div {
  text-align: center;
}

.name {
  background-color: var(--light-blue);
  text-align: left;
  color: var(--dark-blue);
  margin: 10%;
  padding: 30px;
  font-size: 1.3rem;
  font-weight: bold;
}

input[type="submit"] {
  width: 90%;
  height: 30px;
}

input[type="checkbox"],
input[type="radio"] {
  height: 24px;
  transform: scale(1.5);
}

input[type="text"] {
  height: 24px;
  text-transform: uppercase;
  font-size: 1.3rem;
  width: 80%;
  font-weight: bold;
  text-align: center;
  background-color: var(--light-blue);
  font-family: var(--font);
  color: var(--dark-blue);
} */
